{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}
   
{% block body %}
    <h1>Events</h1>


    <div>
    {% if events is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Capacité</th>
                    <th>Lieu</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.nom }}</td>
                        <td>{{ event.date }}</td>
                        <td>{{ event.capacity }}</td>
                        <td>{{ event.place }}</td>
                        <td>
                            {% if event.image %}
                                <img width="200px" src="{{ asset('images/' ~ event.image) }}" alt="Image de l'événement">
                            {% else %}
                                Pas d'image
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('app_eventt_show', {'id': event.id}) }}">show</a>
                            <a href="{{ path('app_reservationfront_new', {'eventId': event.id}) }}">Réserver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun événement trouvé</p>
    {% endif %}
</div>
{% endblock %}
