{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ product.stock }}</td>
            </tr>
            <tr>
                <th>Creation_date</th>
                <td>{{ product.creationDate }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ product.category }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_products_index') }}">Back to list</a>

    <a class="btn" href="{{ path('app_products_edit', {'id': product.id}) }}">Edit</a>

    {{ include('products/_delete_form.html.twig') }}
{% endblock %}
