{% extends 'base.html.twig' %}

{% block body %}
    

    <table class="table">
        <thead>
            <tr>
                
                <th>Commentaire</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                
                <td>{{ avi.commentaire }}</td>
                
                <td>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_avis_show', {'id': avi.id}) }}'">Show</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_avis_edit', {'id': avi.id}) }}'">Edit</button>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_avis_new') }}'">Create new</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('generator_service_avis') }}'">PDF</button>
{% endblock %}
