{% extends 'base.html.twig' %}

{% block title %}Admin Orders{% endblock %}

{% block body %}
    <h1>All Orders</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Order_date</th>
                <th>Total_price</th>
                <th>Quantity</th>
                <th>Product_name</th>
                <th>User_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.OrderDate }}</td>
                <td>{{ order.TotalPrice }}</td>
                <td>{{ order.Quantity }}</td>
                <td>{{ order.ProductName }}</td>
                <td>{{ order.UserName }}</td>
                <td>
                    <a href="{{ path('app_orders_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('app_orders_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
       </tbody>
    </table>
<div align="center">
    <a class="btn btn-success btn-sm" href="{{ path('app_orders_new') }}">Create new</a>
</div>
{% endblock %}
